@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.btn-purple{
  border-color: #6874E8;
  color: #854F8E;
}

.btn-purple:hover {
  background-color: #6874E8;
  color: white;
}
a{
  color: #6874E8;
}
hr{
  color: #6874E8;
  background-color: #6874E8
}

.pill_logo{
  background-image: url(./icon/pill.png);
}